body {
    background-color: $primaryColor
}

main {
    width: 100%;
    max-width: 850px;
    margin: 30px auto;
    background-color: $secondaryColor;
    padding: 40px 20px 20px 20px;
    border-radius: 10px;
    box-sizing: border-box
}


// 3 columns 

.slotMaschine-columns {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    #column1,
    #column2,
    #column3 {
        flex: 0 0 32%;
        height: 100px;
        background-color: $primaryColor;
        border-radius: 10px;
        padding: 20px 27px;
        box-sizing: border-box;
        font-size: 50px;
        text-align: center
    }
}


// winning combinations

.chance-of-winning {
    margin: 0 0 20px 0
}

#winning-combinations-0,
#winning-combinations-1,
#winning-combinations-2,
#winning-combinations-3 {
    margin: 0 5px 0 60px
}


// circles

.bg-blue {
    color: blue
}

.bg-green {
    color: green
}

.bg-yellow {
    color: yellow
}

.bg-red {
    color: red
}




// Input field and button

.play-the-game {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    input {
        flex: 0 0 30%;
        height: 40px;
        vertical-align: middle
    }

    #bet {
        flex: 0 0 40%;
        height: 40px;
        padding: 10px;
        font-size: 1.1em;
        box-sizing: border-box;
    }

    #play-button {
        flex: 0 0 45%;
        height: 40px
    }
}



// Information output

#information {
    font-size: 2em;
    font-weight: bold
}
